






@cl-i: #848484;
@gr-i: #00b8ef;
@gr-ii: #58d2f5;


/* variables */

*{
    margin: 0;
    padding: 0;
}

img{
    vertical-align: middle;
}

a{
    text-decoration: none;
    color: #fff;
}

ul{
    list-style: none;
}


// loader

.load{
    width: 100%;
    height: 100%;
    background: #ffffff;
    position: fixed !important;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2222;
    .load-img{
        border-radius: 50%;
        display: inline-block;
        background: url(../images/loader.gif) no-repeat center / cover;
        width: 240px;
        height: 240px;
        z-index: 999999;
    }
}


// loader ends ------------------------------------------------------------------


// common part of css

.head-font(){
    font-family: 'Abril Fatface', cursive;
}

.heading(){
    .head-font();
    font-size: 32px;
    font-weight: 400;
    color: #222222;
}

.paragraph-font(){
    font-family: 'Arimo', sans-serif;
}

.paragraph-font-it(){
    .paragraph-font();
        font-style: italic;
        font-weight: 500;
        font-size: 16px;
}

.one-font(){
    font-family: 'Lobster Two', cursive;
}

.tr (@time){
    transition: all linear @time;
    -o-transition: all linear @time;
    -moz-transition: all linear @time;
    -ms-transition: all linear @time;
    -webkit-transition: all linear @time;
}



// mixing declearation


.navbar{
    border-top: 4px solid #abe5fa;
    background: #fef8ff;

    .collapse{
        margin-top: 45px;

        .navbar-nav{
            .tr(0.2s);
            
            .nav-item{
                .paragraph-font();
                font-weight: 400;
                font-size: 20px;
                color: @cl-i;
                margin: 0 22px;
                position: relative;

                .nav-link{
                    padding-right: 0 !important;
                    padding-left: 0 !important;
                    .tr(0.3s);

                    &:hover{
                        color: #2cc5f2;
                    }
                }
            }
            .active{
                color: #00b8ef;

                &::before{
                    content: '';
                    position: absolute;
                    width: 100%;
                    top: -65px;
                    left: 0; 
                    border-top: 4px solid #2cc5f2;
                }
            }
        }
    }
    .pop-up{
        background: linear-gradient(45deg, @gr-i, @gr-ii);
        outline: 0px;
        border-radius: 3px;
        cursor: pointer;
        margin-left: 40px;
        .tr(0.4s);
        display: inline-block;

        &:hover{
            box-shadow: 3px 5px 12px -4px rgba(0,0,0,0.5);
        }

        .sign-up{
            .paragraph-font();
            font-weight: 400;
            font-size: 20px;
            color: #ffffff;
            padding: 0 20px;
            line-height: 60px;
        }
    }
}


// ---------------------- navbar ends ---------------------- 


#home{
    
    background: #fef8ff;
    overflow: hidden;

    .col-lg-12{
        

        .banner-content{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: row wrap;
            position: relative; 
            // position is necessary for both of the method

            // the first method of banner background part
            // &::before{
            //     content: '';
            //     width: 100%;
            //     height: 100%;
            //     position: absolute;
            //     top: 0;
            //     right: -165px;
            //     background: url(../images/banner.png) no-repeat right;
            //     vertical-align: top !important;
            //     z-index: -1;
                
            // }

            .part-i{
                padding-bottom: 188px;

                h2{
                    .head-font();
                    font-size: 58px;
                    color: #222222;
                    padding-right: 55px;
                    padding-top: 135px;
                    line-height: 75px;
                }
                p{
                    .paragraph-font();
                    font-size: 18px;
                    font-weight: 400;
                    color: #444444;
                    line-height: 30px;
                }
            }
            // both of the banner part work properly, though its second one
            .banner-img{
                img{
                    position: absolute;
                    top: 10px;
                    right: -140px;
                }
            }

            
        }
    }
}



#jobs{
    // margin-top: -44px;
    background: #fef8ff;
    padding-top: 44px;
    
    .container{
        position: relative;
        .part-ii{
            position: absolute;
            top: -44px;
            left: 0;
            width: 100%;
            // position: absolute;
            // top: 514px;
            

            #pills-tab{
                .nav-item{
                    .tr(0.2s);

                    .nav-link{
                        text-transform: capitalize;
                        padding: 22px 20px !important;
                        .paragraph-font();
                        font-size: 20px;
                        font-weight: 400;
                        color: #444444;
                        line-height: 0;
                        .tr(0.1s);

                        &.active{
                            background: linear-gradient(45deg, @gr-i, @gr-ii);
                            color: #ffffff;
                            box-shadow: 12px 5px 25px -5px rgba(0, 0, 0, 0.2);
                            border-top-left-radius: 4px;
                            border-top-right-radius: 4px;
                            border-bottom-left-radius: 0px;
                            border-bottom-right-radius: 0px;
                        }
                    }
                }
            }

            .tab-content{
                background: #ffffff;
                box-shadow: 12px 5px 25px -5px rgba(0, 0, 0, 0.2);

                .tab-pane{
                    .inputs{
                        
                        display: flex;
                        flex-flow: row nowrap;
                        padding-left: 0px !important;

                        .input{
                            padding: 35px 10px 35px 28px;

                            &.one{
                                width: 350px;
                                input{
                                    .paragraph-font-it();
                                }
                            }

                            &.two{
                                width: 320px;
                                input{
                                    .paragraph-font-it();
                                }

                                .btn{
                                    border-top-right-radius: 5px;
                                    border-bottom-right-radius: 5px;
                                    i{
                                        font-size: 14px;
                                        line-height: 20px;
                                        color: #ced4da;
                                    }
                                }
                                .input-group{
                                    .form-control{
                                        border-right: 0px !important;
                                    }
                                    .btn{
                                        border: 1px solid #ced4da !important;
                                        border-left: 0px !important;
                                    }
                                }
                            }

                            &.three{
                                width: 270px;
                                select{
                                    .paragraph-font-it();
                                    color: #848484;
                                }
                            }

                            .search{
                                width: 110px;
                                .paragraph-font();
                                height: 38px;
                                color: #ffffff;
                                background: linear-gradient(45deg, @gr-i, @gr-ii);
                                .tr(0.3s);

                                &:hover{
                                    background: linear-gradient(120deg, @gr-i, @gr-ii);
                                    transform: scale(1.05);
                                }
                                &:focus{
                                    transform: scale(1.05);
                                }
                                &:active{
                                    transform: scale(1);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


// ---------------------- banner ends ---------------------- 


    .container{
        .head{
            padding-top: 55px;
            padding-bottom: 30px;
            h3{
                position: relative;
                .heading();
                
                &:before{
                    content: '';
                    width: 52px;
                    height: 5px;
                    position: absolute;
                    top: 60px;
                    left: 50%;
                    transform: translateX(-50%);
                    background: #00b8ef;
                    border-radius: 5px;
                }
            }
        }
    }

    .container{
        .paragraph{
            padding: 0 15px;
            .paragraph-font();
            font-size: 16px;
            font-weight: 400px;
            line-height: 26px;
            color: #444444;
            margin-bottom: 0 !important;
        }
    }

    // ---------------------------- head & some common css ends ---------------------------- 

    #popular-catagory{
        margin-top: 40px;
        padding-top: 110px;
        padding-bottom: 95px;

        .catagory-content{
            

            .list{
                padding-top: 95px;
                .ctgr{
                    display: flex;
                    flex-flow: row wrap;
                    .tr(0.3s);

                    .ctgr-item{
                        padding-top: 73px;
                        padding-bottom: 65px;
                        width: 23%;
                        margin-right: 2.5%;
                        margin-bottom: 30px;
                        background-color: #f5f5f5;
                        border-radius: 5px;
                        .tr(0.3s);

                        &:hover{
                            background: linear-gradient(45deg, @gr-i, @gr-ii);
                            transform: scale(1.28);
                            z-index: 10;

                            h4{
                                color: #fff;
                            }
                            .avl{
                                color: #fff;
                            }
                            a{
                                
                                display: visible;
                                opacity: 1;
                            }
                        }

                        &:nth-of-type(4n){
                            margin-right: 0px;
                        }
                        &:nth-of-type(n+5){
                            margin-bottom: 0px;
                        }

                        h4{
                            color: #222222;
                            .head-font();
                            font-size: 24px;
                            line-height: 26px;
                            font-weight: 400;
                            padding-top: 10px;
                            .tr(0.3s);
                        }

                        .avl{
                            .paragraph-font();
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 26px;
                            color: #777777;
                            padding-bottom: 8px;
                            .tr(0.3s);
                        }

                        a{
                            display: hidden;
                            opacity: 0;
                            border: 1px solid #fff;
                            text-transform: capitalize;
                            .paragraph-font();
                            font-size: 16px;
                            line-height: 26px;
                            font-weight: 400;
                            color: #00b8ef;
                            background: #ffffff;
                            border-radius: 3px;
                            padding: 13px 17px;
                            .tr(0.3s);
                        }
                    }
                }
            }
        }
    }

        // ---------------------------- popular catagories ends ---------------------------- 

    #works{
        background: #f5f5f5;
        .work-list{
            padding-bottom: 40px;

            .w-list{
                padding-left: 0 !important;
                display: flex;
                flex-flow: row nowrap;
                width: 100%;
                .tr (0.4s);

                .w-item{
                    width: 33%;
                    padding-top: 60px;
                    &:hover{
                        .box{
                            background: linear-gradient(45deg, @gr-i, @gr-ii);
                        }
                        .w-p{
                            visibility: visible;
                            opacity: 1;
                            display: block;
                        }
                    }
                    .box{
                        width: 100px;
                        height: 100px;
                        box-shadow:0px 2px 38px -14px rgba(0, 0, 0, 0.5);
                        background: #f5f5f5;
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: center;
                        align-items: center;
                        border-radius: 3px;
                        .tr (0.8s);

                    }
                    h5{
                        .head-font();
                        font-weight: 400;
                        font-size: 20px;
                        color: #222222;
                        text-transform: capitalize;
                        padding-top: 20px;
                        padding-bottom: 13px;
                    }
                    .w-p{
                        padding: 0 0 !important;
                        visibility: hidden;
                        opacity: 0;
                        display: hidden;
                        .tr (0.4s);
                    }
                    &.b-a{
                        position: relative;
                        &:before{
                            content: '';
                            width: 69%;
                            height: 1px;
                            box-sizing: border-box;
                            border-top: 1px dashed #969696b0;
                            position: absolute;
                            top: 115px;
                            left: -131px;
                        }
                        &:after{
                            content: '';
                            width: 69%;
                            height: 1px;
                            box-sizing: border-box;
                            border-top: 1px dashed #969696b0;
                            position: absolute;
                            top: 115px;
                            right: -131px;

                        }
                    }
                }
            }
        }
    }

            // ---------------------------- how it works ends ---------------------------- 


    #working{
        .working-content{
            .row{
                .inputs{
                    display: flex;
                    padding-top: 60px;
                    padding-left: 0 !important;
                    flex-flow: row nowrap;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 0 !important;
                    width: 100%;

                    input{
                        font-family: 'Arimo', sans-serif;
                        font-style: italic;
                        font-weight: 500;
                        font-size: 16px;
                        color: #848484;
                        
                    }
                    .one{
                        width: 40%;
                    }
                    .three{
                        width: 40%;
                        
                            select{
                                .paragraph-font-it();
                                color: #848484;
                            }
                    }
                    .search{
                        width: 14%;
                        button{
                            width: 100%;
                            background: linear-gradient(45deg, @gr-i, @gr-ii);
                            .paragraph-font();
                            font-weight: 400;
                            font-size: 20px;
                            line-height: 30px;
                            color: #fff;
                            border: none;
                            .tr (0.3s);
                            &:hover{
                                background: linear-gradient(270deg, @gr-i, @gr-ii);

                            }
                        }
                        
                    }
                }

                .sp-check{
                    ul{
                        width: 100%;
                        padding-top: 25px;
                        padding-bottom: 25px;
                        margin-bottom: 0 !important;
                        padding-left: 0 !important;
                        display: flex;
                        flex-flow: row wrap;
                        align-items: center;
                        justify-content: flex-start;
                        .check{
                            .check-item {
                                display: block;
                                position: relative;
                                padding-left: 35px;
                                cursor: pointer;
                                -webkit-user-select: none;
                                -moz-user-select: none;
                                -ms-user-select: none;
                                user-select: none;
                                margin-right: 40px;

                                p{
                                    // position: absolute;
                                    // top: -2px;
                                    // left: 28px;
                                    margin-top: -3px;
                                    .paragraph-font-it();
                                    color: #999999;
                                    margin-bottom: 0 !important;
                                    
                                }
                              }
                              
                              /* Hide the browser's default checkbox */
                              .check-item input {
                                position: absolute;
                                opacity: 0;
                                cursor: pointer;
                                height: 0;
                                width: 0;
                              }
                              
                              /* Create a custom checkbox */
                              .checkmark {
                                position: absolute;
                                top: 0;
                                left: 0;
                                height: 25px;
                                width: 25px;
                                background-color: #eee;
                                border-radius: 4px;
                                transform: scale(0.7);
                                .tr(0.4s);
                              }
                              
                              /* On mouse-over, add a grey background color */
                              .check-item:hover input ~ .checkmark {
                                background-color: #ccc;
                              }
                              
                              /* When the checkbox is checked, add a blue background */
                              .check-item input:checked ~ .checkmark {
                                background: linear-gradient(90deg, #4fa02b, #a3b6a9);;
                              }
                              
                              /* Create the checkmark/indicator (hidden when not checked) */
                              .checkmark:after {
                                content: "";
                                position: absolute;
                                display: none;
                              }
                              
                              /* Show the checkmark when checked */
                              .check-item input:checked ~ .checkmark:after {
                                display: block;
                              }
                              
                              /* Style the checkmark/indicator */
                              .check-item .checkmark:after {
                                left: 8px;
                                top: 4px;
                                width: 8px;
                                height: 15px;
                                border: solid white;
                                border-width: 0 3px 3px 0;
                                -webkit-transform: rotate(45deg);
                                -ms-transform: rotate(45deg);
                                transform: rotate(40deg);
                              }
                        }
                    }
                }
                .j-list{
                    ul{
                        width: 100%;
                        margin-bottom: 0 !important;
                        padding-left: 0 !important;
                        margin-top: 20px;
                        .j-item{
                            width: 100%;
                            display: flex;
                            flex-flow: row nowrap;
                            align-items: center;
                            justify-content: start;
                            background: #f5f5f5;
                            margin: 30px 0;
                            border-radius: 4px;
                            .tr(0.4s);

                            .pi{
                                padding: 10px;
                                
                            }
                            .pii{
                                width: 32.8%;
                                padding-left: 1.7%;
                                h6,h5,p{
                                    margin-bottom: 0 !important;
                                    .paragraph-font();
                                    font-weight: 400;
                                    .tr(0.4s);
                                }
                                h6{
                                    font-size: 14px;
                                    line-height: 30px;
                                    color: #00b8ef;
                                }
                                h5{
                                    font-size: 20px;
                                    line-height: 30px;
                                    color: #222222;
                                }
                                p{
                                    font-size: 14px;
                                    line-height: 30px;
                                    color: #444444;
                                }
                            }
                            .piii{
                                width: 18.3%;
                                padding-left: 1.7%;
                                i{
                                    margin-right: 9px;
                                    color: #444444;
                                    .tr(0.4s);
                                }
                                span{
                                    .paragraph-font();
                                    font-weight: 400;
                                    font-size: 16px;
                                    line-height: 30px;
                                    color: #444444;
                                    .tr(0.4s);
                                }
                            }
                            .piv{
                                width: 23%;
                                padding-left: 1.7%;
                                span{
                                    .paragraph-font();
                                    font-weight: 400;
                                    font-size: 16px;
                                    line-height: 30px;
                                    color: #444444;
                                    .tr(0.4s);
                                }
                            }
                            .pv{
                                padding: 2.5%;
                                a{
                                    padding: 13px 20px 11px;
                                    background: linear-gradient(45deg, @gr-i, @gr-ii);
                                    border-radius: 3px;
                                    .paragraph-font();
                                    font-weight: 400;
                                    font-size: 20px;
                                    color: #ffffff;
                                    .tr(0.2s);
                                    &:hover{
                                        background: #ffffff;
                                        color: #363636;
                                    }
                                }
                            }
                            &:hover{
                                background: linear-gradient(270deg, @gr-i, @gr-ii);
                                
                                .pii{
                                    h6,h5,p{
                                        color: #ffffff;
                                    }
                                }
                                .piii{
                                    i,span{
                                        color: #ffffff;
                                    }
                                }
                                .piv{
                                    span{
                                        color: #ffffff;
                                    }
                                }
                            }
                        }
                    }
                }
                .lost-info{
                    margin-top: 28px;
                    display: flex;
                    flex-flow: row nowrap;
                    align-items: center;
                    justify-content: space-between;
                    p{
                        .paragraph-font();
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 30px;
                        color: #444444;
                        margin-bottom: 0 !important;
                    }
                    a{
                        
                        padding: 16px 20px 13px 20px;
                        background: linear-gradient(45deg, @gr-i, @gr-ii);
                        display: flex;
                        flex-flow: row nowrap;
                        align-items: center;
                        span{
                            .paragraph-font();
                            font-weight: 400;
                            font-size: 20px;
                            line-height: 30px;
                            color: #ffffff;
                            margin-right: 7px;
                        }
                        i{
                            font-size: 20px;
                            color: #ffffff;
                            line-height: 30px;
                        }
                    }
                }
                .tab{
                    margin-top: 100px;
                    display: flex;
                    flex-flow: row wrap;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 100px;

                    .registration{
                        width: 49%;
                        padding: 30px 21px 30px 22px;
                        background: #f5f5f5;
                        .tr(0.4s);
                        h6,span,p{
                            margin-bottom: 0 !important;
                            .tr(0.4s);
                        }
                        h6{
                            .paragraph-font();
                            font-weight: 500;
                            font-size: 20px;
                            line-height: 24px;
                            color: #222222;
                        }
                        span{
                            .paragraph-font();
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 26px;
                            color: #00b8ef;
                        }
                        p{
                            .paragraph-font();
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 26px;
                            color: #222222;
                            padding: 28px 0 30px 0;
                        }
                        a{
                            display: flex;
                            align-items: center;
                            .tr(0.4s);
                            span{
                                .paragraph-font();
                                font-weight: 500;
                                font-size: 20px;
                                line-height: 26px;
                                color: #222222;
                                margin-right: 8px;
                                .tr(0.4s);
                            }
                            i{
                                color: #222222;
                                font-size: 20px;
                                .tr(0.4s);
                            }
                        }
                        &:hover{
                            background: linear-gradient(-90deg, @gr-i, #93e6ff);
                            h6,span,p,a{
                                color: #ffffff;
                            }
                            a{
                                span,i{
                                    color: #ffffff;
                                }
                            }
                        }
                    }
                }
            }
        }
    }


            // ---------------------------- recent jobs ends ---------------------------- 


    #trw{
        background: #f5f5f5;
        .workers-content{
            .worker-list{
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                justify-content: space-between;
                margin-top: 55px;
                .top-worker{
                    margin: 0 15px 55px 15px;
                    padding: 25px 25px 0px 25px;
                    background: #ffffff;
                    border-radius: 5px;
                    .tr(0.5s);
                    &:hover{
                        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
                        .description{
                            .link{
                                border-color: #1ac0f1;
                            }
                        }

                    }
                    
                    .pic{
                        position: relative;
                        left: 50%;
                        transform: translateX(-50%);
                        border-radius: 50%;
                        width: 166px;
                        height: 166px;
                        background: #00b8ef;
                        z-index: 10;
                        .tr(0.4s);
                        img{
                            border-radius: 50%;
                            position: absolute;
                            bottom: 0;
                        }
                        .rank{
                            position: absolute;
                            bottom: 5px;
                            right: 5px;
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                            background: linear-gradient(-45deg, @gr-i, @gr-ii);
                            border: 2px solid #ffffff;
                            color: #ffffff;
                            .head-font();
                            font-weight: 400;
                            font-size: 25px;
                            line-height: 42px;
                        }

                    }
                    .name{
                        padding-top: 15px;
                        .paragraph-font();
                        font-weight: 700;
                        font-size: 20px;
                        color: #222222;
                    }
                    .title{
                        .paragraph-font();
                        font-weight: 400;
                        font-size: 16px;
                        color: #222222;
                    }
                    .star{
                        padding-top: 13px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        ul{
                            margin-bottom: 0 !important;
                            padding-left: 0 !important;
                            display: flex;
                            flex-flow: row nowrap;
                            justify-content: center;
                            align-items: center;
                            li{
                                margin: 0 2px;
                                i{
                                    color: #f68b1e;
                                    font-size: 16px;

                                }
                            }
                        }
                        p{
                            margin-bottom: 0 !important;
                            .paragraph-font();
                            font-weight: 400;
                            font-size: 14px;
                            color: #222222;
                            margin-left: 4px;
                        }
                    }
                    .description{
                        padding-top: 22px;
                        width: 100%;
                        .detail{
                            display: flex;
                            flex-flow: row nowrap;
                            align-items: center;
                            justify-content: space-between;
                            border-top: 1px solid #f1f1f1;
                            &.working-rate{
                                .pii{
                                    span{
                                        .paragraph-font();
                                        font-weight: 700;
                                        font-size: 22px;
                                        color: #222222;

                                    }
                                }
                            }
                            &.js{
                                border-bottom: 1px solid #f1f1f1;
                            }
                            .pi,.pii{
                                .paragraph-font();
                                font-weight: 500;
                                font-size: 14px;
                                line-height: 52px;
                                color: #222222;
                            }
                            &.loc{
                                .pii{
                                    span{
                                        margin: 0 5px;
                                        img{
                                            width: 20px;
                                        }
                                    }
                                }
                            }
                        }
                        .link{
                            border-bottom: 3px solid transparent;
                            border-radius: 2px;
                            .tr(0.2s);
                            .profile{
                                &:hover{
                                    a{
                                        color: #1ac0f1;
                                        i{
                                            color: #1ac0f1;
                                        }
                                    }
                                }
                                a{
                                    .paragraph-font();
                                    font-weight: 700;
                                    font-size: 18px;
                                    padding: 28px 0 26px 0;
                                    color: #222222;
                                    .tr(0.3s);
                                    
                                    i{
                                        font-size: 20px;
                                        margin-left: 4px;
                                        line-height: 72px;
                                        color: #222222;
                                        .tr(0.5s);
                                    }

                                }
                            }
                        }
                    }
                }
            }
            .lost-info{
                padding: 15px 0 60px 0;
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                justify-content: space-between;
                p{
                    .paragraph-font();
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 30px;
                    color: #444444;
                    margin-bottom: 0 !important;
                }
                a{
                    
                    padding: 16px 20px 13px 20px;
                    background: linear-gradient(45deg, @gr-i, @gr-ii);
                    display: flex;
                    flex-flow: row nowrap;
                    align-items: center;
                    .tr(0.4s);
                    span{
                        .paragraph-font();
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 30px;
                        color: #ffffff;
                        margin-right: 7px;
                    }
                    i{
                        font-size: 20px;
                        color: #ffffff;
                        line-height: 30px;
                    }
                    &:hover{
                        background: #8adef8;
                    }
                }
            }
        }
    }


        // ---------------------------- top remote workers ends ---------------------------- 

    #testimonial{
        .test-content{
            margin-bottom: 55px;
            .people{
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                justify-content: start;
                .list{
                    margin: 0 10px 0 10px;
                    align-items: center;
                    
                    
                    .des{
                        margin-top: 95px;
                        .name{
                            .head-font();
                            font-weight: 400;
                            font-size: 24px;
                            color: #222222;
                        }
                        .title{
                            .paragraph-font();
                            font-weight: 400;
                            font-size: 16px;
                            color: #444444;
                            margin-bottom: 13px;
                        }
                    }

                    .pic{
                        box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.2);
                        width: 259px;
                        height: 259px;
                        margin: 0 auto;
                        
                        .det{
                            border: 4px solid #ffffff;
                            position: relative;
                            i.video{
                                position: absolute;
                                top: 11px;
                                right: 12px;
                                color: #ffffff;
                                font-size: 16px;
                            }
                            
                            i.play{
                                position: absolute;
                                bottom: -35px;
                                left: 50%;
                                transform: translateX(-50%);
                                width: 70px;
                                height: 70px;
                                border-radius: 50%;
                                background: linear-gradient(-45deg, @gr-i, @gr-ii);
                                line-height: 70px;
                                font-size: 20px;
                                color: #ffffff;

                                &::before{
                                    padding-left: 4px;
                                }
                            }
                            
    
                            img{
                                width: 100%;
                                outline: none;
                                
                            }
                        }
                        .slick-dots{
                            position: absolute;
                            bottom: -42px;
                            left: 50%;
                            transform: translateX(-50%);
                            li{
                                width: 15px;
                                height: 15px;
                                border-radius: 50%;
                                outline: none;
                                .tr(0.5s);

                                &.slick-active{
                                    transform: scale(1.5);
                                    button::before{
                                        background: linear-gradient(-45deg, @gr-i, @gr-ii);
                                        opacity: 1;
                                    }
                                }
                                button{
                                    width: 15px;
                                    height: 15px;
                                    border-radius: 50%;
                                    background: #a7eaff;
                                    .tr(0.6s);
                                    
                                    &:before{
                                        content: '';
                                        font-size: 0;
                                        line-height: 0;
                                        width: 15px;
                                        height: 15px;
                                        background: #b9e6f36b;
                                        border-radius: 50%;
                                        opacity: 1;
                                        .tr(0.4s);
                                        
                                    }
                                }
                            }
                        }

                    }

                    

                    .text{
                        padding: 35px 12px 0 12px;
                        .one-font();
                        font-style: italic;
                        font-weight: 400;
                        font-size: 24px;
                        color: #999999;
                    }
                    .star{
                        margin-bottom: 20px;
                        ul{
                            margin-bottom: 0 !important;
                            padding-left: 0 !important;
                            display: flex;
                            flex-flow: row nowrap;
                            align-items: center;
                            justify-content: start;
                            li{
                                margin: 0 2px;
                                i{
                                    font-size: 16px;
                                    color: #fbca07;
                                }
                            }
                        }
                    }
                    .bio{
                        .paragraph-font();
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 26px;
                        color: #999999;

                    }
                
                }
            }
        }
    }

    // ---------------------------- testimonials ends ---------------------------- 

    #milestone{
        .milestone-content{
            .milestones{
                margin-top: 45px;
                .box{
                    display: flex;
                    flex-flow: row wrap;
                    align-items: center;
                    justify-content: space-between;
                    position: relative;
                    z-index: 1;

                    &::before{
                        content: '';
                        width: 320px;
                        height: 1px;
                        background: #c7c7c7;
                        position: absolute;
                        top: 145px;
                        left: 50%;
                        transform: translateX(-50%);
                        z-index: -3;
                    }
                    &::after{
                        content: '';
                        width: 1px;
                        height: 260px;
                        background: #c7c7c7;
                        position: absolute;
                        top: 10px;
                        left: 50%;
                        transform: translateX(-50%);
                        z-index: -2;
                    }
                    .parts{
                        width: 228px;
                        h5{
                            .head-font();
                            font-weight: 400;
                            font-size: 46px;
                            color: #222222;
                            margin-bottom: 0 !important;
                        }
                        h6{
                            .head-font();
                            font-weight: 400;
                            font-size: 24px;
                            color: #222222;
                            margin-bottom: 0 !important;
                        }
                        &:nth-of-type(n+3){
                            padding-top: 100px;
                        }
                        &:nth-of-type(2n+1){
                            text-align: right;
                        }
                    }
                    
                }
                .box-two{
                    padding-top: 8px;
                    display: flex;
                    flex-flow: row wrap;
                    align-items: center;
                    justify-content: flex-end;
                    
                    img{
                        margin: 15px;
                    }
                }
            }
        }
    }

    // ---------------------------- milestones & partners ends ---------------------------- 


    .f-head{
        padding-top: 60px;
        padding-bottom: 30px;
        h5{
            .head-font();
            font-weight: 400;
            font-size: 23.6px;
            color: #ffffff;
            position: relative;
            &::before{
                content: '';
                width: 52px;
                height: 5px;
                background: #00b8ef;
                position: absolute;
                bottom: -14px;
                left: 0px;
                border-radius: 3px;
            }
        }
    }




    footer{
        margin-top: 95px;
        background: url(../images/footer.jpg) no-repeat center / cover;
        .over{
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.85);
            position: relative;
            z-index: 1;

            &::before{
                content: '';
                width: 100%;
                height: 1px;
                background: #ffffff3b;
                position: absolute;
                top: 152px;
                left: 0;
                z-index: -3;
            }
            &::after{
                content: '';
                width: 100%;
                height: 1px;
                background: #ffffff3b;
                position: absolute;
                bottom: 80px;
                left: 0;
                z-index: -2;
            }

            .footer-logo{
                padding-top: 30px;
                padding-bottom: 30px;
            }

            .row.two{
                padding-bottom: 45px;
                p{
                    .paragraph-font();
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 26px;
                    color: #ffffff;
                }
                a{
                    .arrow{
                        .paragraph-font();
                        font-weight: 400;
                        font-size: 20px;
                        margin-right: 8px;
                        .tr(0.2s);
                    }
                    i{
                        font-size: 20px;
                        vertical-align: text-bottom;
                        .tr(0.6s);
                    }

                    &:hover{
                        span,i{
                            color: #00b8ef;
                        }
                    }
                }

                .order{
                    width: 100%;
                    padding-left: 0 !important;
                    margin-bottom: 0 !important;
                    .tr(0.4s);

                    &:hover{
                        li{
                            a{
                                .pi{
                                    margin-right: 4px;
                                    display: inline-block;
                                    opacity: 1;
                                    
                                }
                            }
                        }
                    }

                    li{
                        width: 100%;
                        .tr(0.4s);

                        &:hover{
                            a{
                                color: #00b8ef;
                                .pi{
                                    margin-right: 0px;
                                }
                                .pii{
                                    display: inline-block;
                                    opacity: 1;
                                    color: #00b8ef;
                                }
                            }
                        }
                        a{
                            width: 100%;
                            .paragraph-font();
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 40px;
                            color: #ffffff;
                            .tr(0.4s);

                            .pi{
                                display: none;
                                opacity: 0;
                                .tr(0.4s);
                            }
                            .pii{
                                display: none;
                                opacity: 0;
                                margin-right: 4px;
                                .tr(0.4s);
                            }
                        }
                    }
                }

                .input-group{
                    padding-top: 8px;
                    .form-control{
                        background: transparent !important;
                        font-family: 'Arimo', sans-serif;
                        font-style: italic;
                        font-weight: 500;
                        font-size: 13px;
                        color: #848484;
                        &:focus{
                            // border: 0px !important;
                            box-shadow: none !important;
                        }
                    }
                    .btn{
                        background: linear-gradient(-45deg, @gr-i, @gr-ii);
                        color: #ffffff;
                        outline: none;
                        border: 0px;
                        &:focus{
                            // border: 0px !important;
                            box-shadow: none !important;
                        }
                    }
                }
                .icon{
                    padding-top: 13px;
                    padding-left: 0 !important;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    flex-flow: row nowrap;
                    li{
                        margin-right: 10px;
                        a{
                            color: transparent;
                            i{
                                font-size: 16px;
                                width: 40px;
                                height: 40px;
                                border-radius: 50%;
                                background: #ffffff;
                                color: #00b8ef;
                                line-height: 42px;
                                text-align: center;
                                .tr(0.4s);
                            }
                            &:hover{
                                i{
                                    background: linear-gradient(-45deg, @gr-i, @gr-ii);
                                    color: #ffffff;
                                }
                            }
                        }
                    }
                }
            }
            .row.three{
                p{
                    .paragraph-font();
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 26px;
                    color: #ffffff;
                    margin-bottom: 0 !important;
                    padding-bottom: 26px;
                    padding-top: 26px;
                }
            }
        }
    }







                    // ---------------------------- milestones & partners ends ---------------------------- 